<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
  <link rel="stylesheet" href="/css/post/jobs/style.css">
  <title>Jobs</title>
</head>
<body>
   <header>
      <div class="container">
        <a href="" class="logo">Jobs</a>
        <div class="search-area">
         <button type="button">
            <i class="ph-bold ph-magnifying-glass"></i>
         </button>
         <input type="text" id="searchItems" onkeyup="getItems()" placeholder="search" >
        </div>
        <nav class="nav">
          <ul>
            <% if(user) { %>
               <li>
                  <i class="ph-fill ph-arrow-circle-left"></i>
                  <a href="/dashboard">back</a>
               </li>
            <% } else { %>
               <li>
                   <i class="ph-fill ph-arrow-circle-left"></i>
                   <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
  
        <div class="menu">
          <i class="ph ph-list"></i>
        </div>
      </div>
   </header>

   <main>
      <div class="container">
         <div class="notfound"></div>
         <ul class="jobs-menu">
            <% if(user) { %>
               <% data.forEach((post) => { %>
                  <li class="li">
                     <h1 class="vancancy" ><%= post.vancancy %></h1>
                     <h2 class="company-name">
                        <%= post.company_name %>
                        <i class="ph-circle-wavy-check-fill"></i>
                     </h2>
                     <ul class="jobInfo">
                        <li>Salary: <span class="salary"><%= post.salary %></span></li>
                        <li>Location: <span><%= post.location %></span></li>
                        <li>Published: <span class="date"><strong><%= post.created_at %></strong></span></li>
                        <li>Vacancy: <span><%= post.vacancies %></span></li>
                     </ul>
                     <div class="text-box">
                        <% if(post.information) { %>
                           <h2 class="description">Description</h2>
                        <% } %>
                        <div class="text">
                           <%= post.information %>
                        </div>
                        <button class="btn-seeMore">...see more</button>
                     </div>
                     <div class="functions">
                           <div class="like">
                              <a href="/liked/<%= user.id %>/<%= post.id %>">
                                 <button class="heart-button"><i class="ph ph-thumbs-up"></i></button>
                              </a>
                              <span><%= post.likes %></span>
                           </div>
                           <div class="accept">
                              <button class="want">I want</button>
                           </div>
                     </div>
                  </li>
               <% }) %>
            <% } else { %>
               <% data.forEach((post) => { %>
                   <li class="li">
                    <h1 class="vancancy" ><%= post.vancancy %></h1>
                    <h2 class="company-name">
                      <%= post.company_name %>
                      <i class="ph-circle-wavy-check-fill"></i>
                    </h2>
                    <ul class="jobInfo">
                        <li>Salary: <span class="salary"><%= post.salary %></span></li>
                        <li>Location: <span><%= post.location %></span></li>
                        <li>Published: <span class="date"><strong><%= post.created_at %></strong></span></li>
                        <li>Vacancy: <span><%= post.vacancies %></span></li>
                    </ul>
                    <div class="text-box">
                     <h2 class="description">Description</h2>
                     <div class="text">
                        <%= post.information %>
                     </div>
                     <button class="btn-seeMore">...see more</button>
                  </div>
                    <div class="functions">
                       <div class="like">
                          <a href="/login">
                              <button class="heart-button"><i class="ph ph-thumbs-up"></i></button>
                           </a>
                           <span><%= post.likes %></span>
                        </div>
                        <div class="accept">
                           <button class="want">I want</button>
                        </div>
                    </div>
                  </li>
               <% }) %>
            <% } %>
         </ul>
     </div>  
   </main>
   <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
  <script src="/js/post/jobs/main.js"></script>
  <script src="/js/menu/main.js"></script>
</body>
</html>