<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <link rel="stylesheet" href="/css/post/jobs/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColors/style.css">
    <link rel="stylesheet" href="/css/themeChange/style.css">
    <title>Jobs</title>
</head>
<body>
   <header>
      <div class="container">
         <a href="/" class="logo">
            <span><i class="ph-fill ph-briefcase"></i></span>
            <h2>Jobs</h2>
          </a>
        <div class="search-area">
         <button type="button">
            <i class="ph ph-magnifying-glass"></i>
         </button>
         <input type="text" id="searchItems" onkeyup="getItems()" placeholder="find your job!" >
        </div>
        <div class="nav-area">
            <div class="change-color" id="moon">
                <i style="display: none;" class="ph ph-moon"></i>
            </div>
            <nav class="nav">
                <ul>
                  <% if(user) { %>
                     <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/dashboard">back</a>
                     </li>
                  <% } else { %>
                     <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/">back</a>
                     </li>
                  <% } %>
                </ul>
              </nav>
        </div>
        <div class="menu"><i class="ph ph-list"></i></div>
      </div>
   </header>
   <main>
      <div class="container">
         <div class="notfound"></div>
         <div class="userInfo">
             <div class="countPosts">
                 <span><%= data.length %></span> job openings
             </div>
             <div class="userSelect">
                 <form action="/jobs" method="GET">
                     <div class="box">
                         <div class="input">
                            <input type="radio" id="relevant" name="option" value="relevant" checked="">
                            <label for="relevant">Relevant</label>
                         </div>
                         <div class="input">
                             <input type="radio" id="recent" name="option" value="recent">
                            <label for="recent">Recent</label>
                         </div>
                     </div>
                     <button>confirm</button>
                 </form>
             </div>
         </div>
         <ul class="jobs-menu">
            <% if(user) { %>
               <% data.forEach((post) => { %>
                  <li class="li">
                     <h1 class="vancancy" ><%= post.vacancy %></h1>
                     <h2 class="company-name">
                        <%= post.company_name %>
                        <i class="ph-fill ph-seal-check"></i>
                     </h2>
                     <ul class="jobInfo">
                        <li>
                            <i class="ph ph-currency-dollar-simple"></i>
                            <span class="salary"><%= post.salary %></span>
                        </li>
                        <li>
                            <i class="ph ph-map-pin"></i>
                            <span><%= post.location %></span>
                        </li>
                        <li>
                            <i class="ph ph-calendar"></i>
                            published at
                            <span class="date"><strong><%= post.created_at %></strong></span>
                        </li>
                        <li>
                            <i class="ph ph-user-plus"></i>
                            <span><%= post.vacancies %></span> vacancies 
                        </li>
                     </ul>
                     <div class="text-box">
                        <div class="text">
                           <%= post.information %>
                        </div>
                        <button class="btn-seeMore">...see more</button>
                     </div>
                     <div class="functions">
                           <div class="like">
                              <button class="like-button" name="<%= user.id %>/<%= post.id %>/<%= post.company.id %>"><i class="ph ph-arrow-fat-up"></i></button>
                              <span class="like-value" ><%= post.pushes %></span>
                           </div>
                           <div class="accept">
                              <a href="/resume/create/<%= post.id %>/<%= post.company.id %>">
                                <button class="want">I want</button>
                              </a>
                           </div>
                     </div>
                  </li>
               <% }) %>
            <% } else { %>
               <% data.forEach((post) => { %>
                   <li class="li">
                    <h1 class="vancancy" ><%= post.vacancy %></h1>
                    <h2 class="company-name">
                      <%= post.company_name %>
                      <i class="ph-fill ph-seal-check"></i>
                    </h2>
                    <ul class="jobInfo">
                        <li>
                            <i class="ph ph-currency-dollar-simple"></i>
                            <span class="salary"><%= post.salary %></span>
                        </li>
                        <li>
                            <i class="ph ph-map-pin"></i>
                            <span><%= post.location %></span>
                        </li>
                        <li>
                            <i class="ph ph-calendar"></i>
                            published at
                            <span class="date"><strong><%= post.created_at %></strong></span>
                        </li>
                        <li>
                            <i class="ph ph-user-plus"></i>
                            <span><%= post.vacancies %></span> vacancies
                        </li>
                    </ul>
                    <div class="text-box">
                        <div class="text">
                            <%= post.information %>
                        </div>
                        <button class="btn-seeMore">...see more</button>
                    </div>
                    <div class="functions">
                       <div class="like">
                          <a href="/login">
                              <button class="like-button"><i class="ph ph-arrow-fat-up"></i></button>
                           </a>
                           <span><%= post.pushes %></span>
                        </div>
                        <div class="accept">
                            <a href="/login">
                                <button class="want">I want</button>
                              </a>
                        </div>
                    </div>
                  </li>
               <% }) %>
            <% } %>
         </ul>
     </div>  
   </main>
   <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
  <script src="/js/post/jobs/main.js"></script>
  <script src="/js/menu/main.js"></script>
  <script src="/js/themeChange/main.js"></script>
</body>
</html>