<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="/css/company/home/style.css">
  <title>Jobs</title>
</head>
<body>
  <% if(user) { %>
    <% if(data) { %>
      <header>
        <div class="container">
          <a href="./profile/index.html" class="company-name"><%= data.company %></a>
          <nav class="nav">
            <ul>
                <li>
                  <i class="ph-briefcase-fill"></i>
                  <a href="/jobs">jobs</a>
                </li>
                <li>
                  <i class="ph-note-fill"></i>
                  <a href="/post/create/<%= user.id %>/<%= data.id %>">post</a>
                </li>
                <li>
                  <i class="ph-arrow-circle-left-fill"></i>
                  <a href="/dashboard">back</a>
                </li>
            </ul>
          </nav>
     
          <div class="menu">
            <i class="ph-list-fill"></i>
          </div>
        </div>
      </header>
      </div>
      <main>
        <div class="message-area">
          <% if(success_message.length > 0) { %>
            <div class="success_message"><%= success_message %></div>
          <% } %>
          <% for(var i=0;i < error_message.length;i++) { %>
            <div class="error_message"><%= error_message[i] %></div>
          <% } %>
        <div class="container">
          <div class="pubble">
            <div class="status">
              <div>
                <h2>status of your posts 🗒</h2>
              </div>
              <ul>
                <li>
                    <% if(data.post.length > 0) { %>
                      <a href="/company/posts/<%= userId %>/<%= data.id %>">
                        <div class="illustration">
                          <i class="ph-note-fill"></i>
                        </div>
                        <div class="info">
                          <span class="value"><%= data.post.length %></span>
                          <p>Posts</p>
                        </div>        
                      </a>
                    <% } else { %>
                      <a href="/post/create/<%= user.id %>/<%= data.id %>">
                        <div class="illustration">
                          <i class="ph-note-fill"></i>
                        </div>
                        <div class="info">
                          <span class="value"><%= data.post.length %></span>
                          <p>Posts</p>
                        </div>        
                      </a>
                    <% } %>
                </li>
                <li>
                  <a href="/company/likes/<%= data.id %>">
                    <div class="illustration">
                      <i class="ph-thumbs-up-fill"></i>
                    </div>
                    <div class="info">
                      <span class="value"><%= likes %></span>
                      <p>Likes</p>
                    </div>        
                  </a>
                </li>
              </ul>
            </div>
            <div class="illustration-img">
              <img src="../../assets/jobs/Attribution modeling.svg" alt="" width="100%">
            </div>
          </div>
        </div>
      </main>
       <footer>
         <div class="container">
           <p>
             &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
           </p>
         </div>
       </footer>
     <% } %>
  <% } %>
  <script src="/js/menu/main.js"></script>
  <script src="/js/company/home/main.js"></script>
</body>
</html>
