<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/user/resume/create/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="" class="logo">Jobs</a>
            <nav class="nav">
              <ul>
                <li>
                    <a href="/jobs">
                        <i class="ph-fill ph-key-return"></i>
                        back
                    </a>
                </li>
              </ul>
            </nav>
            <div class="menu">
                <i class="ph-bold ph-list"></i>
            </div>
          </div>
    </header>
    <main>
        <% if(user) { %>
            <% if(data) { %>
                <div class="notification">Resume sent successfully<i class="ph-bold ph-checks"></i></div>
                <div class="container">
                    <div class="postInfo">
                        <h1>Hello, <span class="userName"><%= user.name %></span></h1>
                        <h2>Send your resume for <span class="companyName"><%= data.company_name %></span> company <span class="vacancy"><%= data.vancancy %></span> vacancy</h2> 
                    </div>
                    <form action="/resume/create/<%= user.id %>/<%= data.id %>" method="POST">
                        <div class="inputContainer">
                            <div class="firstBlock">
                                <div class="input">
                                    <label for="fullName">Full name</label>
                                    <input type="text" name="fullName" id="" required>
                                    <div class="error_message"><i class="ph-fill ph-warning"></i><span class="message">full name is required!</span></div>
                                </div>
                                <div class="input">
                                    <label for="dateOfBirth">Date of birth</label>
                                    <input type="date" name="dateOfBirth" id="" required>
                                </div>
                                <div class="input">
                                    <label for="maritalStatus">Marital status</label>
                                    <input type="text" name="maritalStatus" id="" required>
                                </div>
                            </div>
                            <div class="secondBlock">
                                <div class="input">
                                    <label for="address">Address</label>
                                    <input type="text" name="address" id="" required>
                                </div>
                                <div class="input">
                                    <label for="phone">Phone</label>
                                    <input type="tel" name="phone" id="" placeholder="(xx) xxxx-xxxx" required>
                                </div>
                                <div class="input">
                                    <label for="academicEducation">Academic education</label>
                                    <input type="text" name="academicEducation" id="" required>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label for="information">More information</label>
                            <textarea name="information" id="information" cols="30" rows="10"></textarea>
                        </div>
                        <button>send</button>
                    </form>
                </div> 
            <% } %>
        <% } %>
    </main>
    <footer>
        <div class="container">
          <p>
            &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
          </p>
        </div>
    </footer>
    <script src="/js/menu/main.js"></script>
</body>
</html>