<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <link rel="stylesheet" href="/css/company/postsSettings/style.css">
    <title>Jobs</title>
</head>
<body>
   <header>
      <div class="container">
        <a href="" class="logo">Jobs</a>
        <nav class="nav">
          <ul>
            <% if(user) { %>
                <% if(data) { %>
                   <li>
                      <i class="ph-fill ph-key-return"></i>
                      <a href="/company/<%= user.id %>/<%= data.id %>">back</a>
                   </li>
                <% } %>
            <% } else { %>
               <li>
                  <i class="ph-fill ph-key-return"></i>
                  <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
        <div class="menu">
         <i class="ph ph-list"></i>
        </div>
      </div>
   </header>
   <main>
      <% if(success_message.length > 0) { %>
          <div class="notification">
              <span class="message"><%= success_message %></span>
              <i class="ph-bold ph-checks"></i>
          </div>
      <% } %>
      <div class="container">
         <ul class="jobs-menu">
            <% if(user) { %>
               <% data.forEach((post) => { %>
                <li class="li">
                    <div class="postInfo">
                       <a href="/company/post/<%= post.id %>/<%= post.company.id %>">
                          <h1><%= post.vacancy %></h1>
                          <h2 class="company-name">
                             <%= post.company_name %>
                             <i class="ph-fill ph-seal-check"></i>
                          </h2>
                       </a>
                    </div>
                    <div class="settings">
                       <a href="/post/update/<%= post.id %>/<%= post.company.id %>" class="update">
                           <i class="ph-fill ph-pencil-simple"></i>
                       </a>
                       <a href="/post/delete/<%= post.id %>/<%= post.company.id %>" class="delete">
                          <i class="ph-fill ph-trash-simple"></i>
                       </a>
                    </div>
                 </li>
               <% }) %>
            <% } %>
            </ul>
      </div>
   </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   
   <script src="/js/company/postsSettings/main.js"></script>
   <script src="/js/menu/main.js"></script>
</body>
</html>