<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/post/settings/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/notification/style.css">
    <link rel="stylesheet" href="/css/rootColors/style.css">
    <link rel="stylesheet" href="/css/themeChange/style.css">
    <title>Jobs</title>
</head>
<body>
   <header>
      <div class="container">
         <a href="/" class="logo">
            <span><i class="ph-fill ph-briefcase"></i></span>
            <h2>Jobs</h2>
          </a>
        <div class="nav-area">
            <div style="display: none;" class="change-color" id="moon">
                <i class="ph ph-moon"></i>
              </div>
        </div>
        <nav class="nav">
          <ul>
            <% if(company) { %>
               <li>
                  <i class="ph-fill ph-key-return"></i>
                  <a href="/company/dashboard">back</a>
               </li>
            <% } else { %>
               <li>
                  <i class="ph-fill ph-key-return"></i>
                  <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
        <div class="menu">
         <i class="ph ph-list"></i>
        </div>
      </div>
   </header>
   <main>
      <% if(success_message.length > 0) { %>
          <div class="notification"><span class="message"><%= success_message %></span></div>
      <% } %>
      <div class="container">
         <ul class="jobs-menu">
            <% if(company) { %>
               <% company.payload.post.forEach((value) => { %>
                  <li class="li">
                     <div class="postInfo">
                        <a href="/company/post/<%= value.id %>/<%= company.payload.id %>">
                           <h1><%= value.vacancy %></h1>
                           <h2 class="company-name">
                              <%= value.company_name %>
                              <i class="ph-fill ph-seal-check"></i>
                           </h2>
                        </a>
                     </div>
                     <div class="settings">
                        <a href="/post/update/<%= value.id %>/<%= company.payload.id %>" class="update">
                           <i class="ph-fill ph-wrench"></i>
                        </a>
                        <a href="/post/delete/<%= value.id %>/<%= company.payload.id %>" class="delete">
                           <i class="ph-fill ph-trash-simple"></i>
                        </a>
                     </div>
                  </li>
               <% }) %>
            <% } %>
            </ul>
      </div>
   </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   <script src="/js/post/settings/main.js"></script>
   <script src="/js/menu/main.js"></script>
   <script src="/js/themeChange/main.js"></script>
   <script src="/js/notification/main.js"></script>
</body>
</html>