<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <link rel="stylesheet" href="/css/company/posts/style.css">
    <title>Jobs</title>
</head>
<body>
   <header>
      <div class="container">
        <a href="" class="logo">Jobs</a>
        <nav class="nav">
          <ul>
            <% if(user) { %>
                <% if(data) { %>
                   <li>
                      <i class="ph-fill ph-key-return"></i>
                      <a href="/company/<%= user.id %>/<%= data.id %>">company</a>
                   </li>
                <% } %>
            <% } else { %>
               <li>
                  <i class="ph-fill ph-key-return"></i>
                  <a href="/">home</a>
               </li>
            <% } %>
          </ul>
        </nav>
  
        <div class="menu">
         <i class="ph ph-list"></i>
        </div>
      </div>
   </header>
   <main>
      <% if(success_message.length > 0) { %>
         <div class="success_message"><%= success_message %></div>
      <% } %>
      <% for(var i=0;i < error_message.length;i++) { %>
         <div class="error_message"><%= error_message[i] %></div>
      <% } %>
      <div class="container">
         <ul class="jobs-menu">
            <% if(user) { %>
               <% if(data) { %>
                  <% for(var i=0;i < data.post.length;i++) { %>
                     <li class="li">
                        <div class="postInfo">
                           <h1><%= data.post[i].vancancy %></h1>
                           <h2 class="company-name">
                              <%= data.post[i].company_name %>
                              <i class="ph-fill ph-seal-check"></i>
                           </h2>
                        </div>
                        <div class="settings">
                           <a href="/post/update/<%= data.post[i].id %>/<%= data.id %>" class="update">
                              <i class="ph ph-pencil"></i>
                           </a>
                           <a href="/post/delete/<%= data.post[i].id %>/<%= data.id %>/<%= user.id %>" class="delete">
                              <i class="ph ph-trash"></i>
                           </a>
                        </div>
                     </li>
                  <% } %>
               <% } %>
            <% } %>
            </ul>
      </div>
   </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   
   <script src="/js/company/posts/main.js"></script>
   <script src="/js/menu/main.js"></script>
</body>
</html>