<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <link rel="stylesheet" href="/css/company/posts/style.css">
    <title>Jobs</title>
</head>
<body>
     <header>
      <div class="container">
        <a href="" class="logo">Jobs</a>
        <nav class="nav">
          <ul>
            <% if(user) { %>
               <li>
                  <i class="ph-arrow-circle-left-fill"></i>
                  <a href="/dashboard">back</a>
               </li>
            <% } else { %>
               <li>
                  <i class="ph-arrow-circle-left-fill"></i>
                  <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
  
        <div class="menu">
          <i class="ph-list-fill"></i>
        </div>
      </div>
   </header>
   <% if(success_message.length > 0) { %>
      <div class="success_message"><%= success_message %></div>
  <% } %>
   <main>
       <div class="container">
          <ul class="jobs-menu">
            <% if(user) { %>
               <% if(data) { %>
                  <% for(var i=0;i < data.post.length;i++) { %>
                     <li class="li">
                        <h1><%= data.post[i].vancancy %></h1>
                        <h2 class="company-name">
                           <%= data.post[i].company_name %>
                            <i class="ph-circle-wavy-check-fill"></i>
                        </h2>
                       <ul class="jobInfo">
                          <li>Salary: <span class="salary"><%= data.post[i].salary %></span></li>
                          <li>Location: <span><%= data.post[i].location %></span></li>
                          <li>Published: <span class="date"><strong><%= data.post[i].created_at %></strong></span></li>
                          <li>Vacancy: <span>1</span></li>
                       </ul>
                       <div class="text-box">
                           <% if(data.post[i].information) { %>
                              <h2 class="description">Description</h2>
                           <% } %>
                           <div class="text">
                              <%= data.post[i].information %>
                           </div>
                           <button class="btn-seeMore">...see more</button>
                        </div>
                        <div class="settings">
                          <a href="/post/update/<%= data.post[i].id %>/<%= data.id %>">
                              <button><i class="ph-fill ph-pencil"></i></button>
                          </a>
                          <a href="/post/delete/<%= data.post[i].id %>/<%= data.id %>/<%= user.id %>">
                              <button><i class="ph-fill ph-trash"></i></button>
                          </a>
                        </div>
                     </li>
                  <% } %>
               <% } %>
            <% } %>
            </ul>
        </div>
    </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   
   <script src="/js/company/posts/main.js"></script>
   <script src="/js/menu/main.js"></script>
</body>
</html>