<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/resume/resumeSentCompany/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColors/style.css">
    <link rel="stylesheet" href="/css/themeChange/style.css">
    <link rel="stylesheet" href="/css/notification/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
          <a href="/" class="logo">Jobs</a>
          <div class="nav-area">
            <div class="change-color" id="moon">
                <i style="display: none;" class="ph ph-moon"></i>
              </div>
              <nav class="nav">
                <ul>
                    <% if(company) { %>
                        <li>
                            <i class="ph-fill ph-key-return"></i>
                            <a href="/company/dashboard">back</a>
                        </li>
                    <% } else { %>
                        <li>
                            <i class="ph-fill ph-key-return"></i>
                            <a href="/">back</a>
                        </li>
                    <% } %>
                </ul>
              </nav>
          </div>
          <div class="menu">
            <i class="ph-bold ph-list"></i>
          </div>
        </div>
    </header>
    <main>
        <% if(success_message.length > 0) { %>
            <div class="notification"><span class="message"><%= success_message %></span></div>
        <% } %>
        <div class="container">
            <% data.forEach((resume) => { %>
                <% if(!resume.alteration) { %>
                    <ul class="resumes-list">
                        <li class="li" id="<%= resume.alteration %>">
                            <div class="post-info">
                                <a href="/company/resume/page/<%= resume.id %>">
                                    <h1 class="username"><%= resume.user.name %></h1>
                                    <h2 class="postVacancy"><%= resume.post.vacancy %></h2>
                                </a>
                            </div>
                            <div class="resumeOption">
                                <a href="/resume/status/<%= resume.id %>/<%= resume.user.id %>/<%= resume.post.id %>?option=accepted" class="accept">
                                    <i class="ph-bold ph-check"></i>
                                </a>
                                <a href="/resume/status/<%= resume.id %>/<%= resume.user.id %>/<%= resume.post.id %>?option=refused" class="reject">
                                    <i class="ph-bold ph-x"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                <% } %>
            <% }) %>
            <div class="sentResume"><h2>Sent</h2><i class="ph-bold ph-checks"></i></div>
            <% data.forEach((resume) => { %>
                <% if(resume.alteration) { %>
                    <ul class="resumes-list">
                        <li class="li" id="<%= resume.alteration %>">
                            <div class="post-info">
                                <a href="/company/resume/page/<%= resume.id %>">
                                    <h1 class="username"><%= resume.user.name %></h1>
                                    <h2 class="postVacancy"><%= resume.post.vacancy %></h2>
                                </a>
                            </div>
                            <div class="resumeOption">
                               <div class="replySent">reply sent <i class="ph-bold ph-checks"></i></div>
                            </div>
                        </li>
                    </ul>
                <% } %>
            <% }) %>
        </div>
    </main>
    <footer>
    <div class="container">
        <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
    </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/themeChange/main.js"></script>
    <script src="/js/notification/main.js"></script>
    <script src="/js/resume/resumeSentCompany/main.js"></script>
</body>
</html>