<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/post/update/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColor/style.css">
    <link rel="stylesheet" href="/css/darkTheme/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/errorMessage/style.css">
    <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Jobs</a>
      <div class="nav-area">
        <div style="display: none;" class="change-color" id="moon">
            <i style="display: none;" class="ph ph-moon"></i>
          </div>
          <nav class="nav">
            <ul>
              <% if(user) { %>
                    <li>
                      <i class="ph-fill ph-key-return"></i>
                      <a href="/company/posts/<%= companyId %>">back</a>
                    </li>
              <% } else { %>
                 <li>
                     <i class="ph-fill ph-key-return"></i>
                     <a href="/">posts</a>
                 </li>
              <% } %>
            </ul>
          </nav>
      </div>
      <div class="menu">
        <i class="ph-bold ph-list"></i>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
        <% if(user) { %>
          <% if(data) { %>
            <form action="/post/update/<%= data.id %>/<%= companyId %>" method="POST">
              <div class="inputContainer">
                <div class="firstBlock">
                  <div class="input">
                    <label for="companyName">Company name</label>
                    <div class="subInput">
                      <select name="companyName" id="companyName" class="select">
                        <option selected disabled></option>
                        <% if(data.company_name) { %>
                          <option value="<%= data.company_name %>" selected><%= data.company_name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="input">
                    <label for="vancancy">Vacancy</label>
                    <input type="text" name="vacancy" id="vancancy" value="<%= data.vacancy %>" autocomplete="off" required>
                  </div>
                  <div class="input">
                    <label for="location">Location</label>
                    <div class="subInput">
                      <select name="location" id="location" class="select">
                        <% if(data.location) { %>
                          <option value="<%= data.location %>" selected><%= data.location %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="secondBlock">
                  <div class="input">
                    <label for="salary">Salary</label>
                    <input type="number" name="salary" id="salary" value="<%= data.salary %>" required>
                  </div>
                  <div class="input">
                    <label for="vacancies">Vacancies</label>
                    <input type="number" name="vacancies" id="vacancies" value="<%= data.vacancies %>" required>
                  </div>
                </div>      
              </div>
              <div class="input">
                <label for="information">Description</label>
                <textarea name="information" id="information" cols="30" rows="10"><%= data.information %></textarea>
              </div>
              <button>update</button>
            </form>
          <% } %>
        <% } %>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/post/update/main.js"></script>
  <script src="/js/menu/main.js"></script>
  <script src="/js/themes/main.js"></script>
</body>
</html>