<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/resume/userSentResume/style.css">
    <link rel="stylesheet" href="/css/notification/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColor/style.css">
    <link rel="stylesheet" href="/css/darkTheme/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Jobs</a>
            <div class="nav-area">
                <div class="change-color" id="moon">
                    <i style="display: none;" class="ph ph-moon"></i>
                </div>
                <nav class="nav">
                    <ul>
                        <% if(user) { %>
                            <li>
                                <i class="ph-fill ph-key-return"></i>
                                <a href="/profile">back</a>
                            </li>
                        <% } else { %>
                            <li>
                                <i class="ph-fill ph-key-return"></i>
                                <a href="/">back</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div class="menu"><i class="ph-bold ph-list"></i></div>
        </div>
    </header>
    <main>
        <% if(success_message.length > 0) { %>
            <div class="notification"><span class="message"><%= success_message %></span></div>
        <% } %>
        <div class="container">
            <% if(data.length > 0) { %>
                <ul class="resumes-list">
                    <% data.map((resume) => { %>
                        <li class="li">
                            <div class="post-info">
                                <a href="/resume/post/page/<%= resume.post.id %>/<%= resume.company_id %>">
                                    <h1 class="vacancy"><%= resume.post.vacancy %></h1>
                                    <h2 class="company-name">
                                        <%= resume.post.company_name %>
                                        <i class="ph-fill ph-seal-check"></i>
                                    </h2>
                                </a>
                            </div>
                            <div class="result">
                                <% if(resume.option == "waiting") { %>
                                    <div class="resume-status">
                                        <i class="ph-light ph-clock-countdown"></i>
                                        <span>waiting...</span>
                                    </div>
                                    <div class="option-area">
                                        <div class="dots"><i class="ph-fill ph-dots-three-outline-vertical"></i></div>
                                        <ul class="submenu">
                                            <li>
                                                <i class="ph ph-pencil"></i>
                                                <a href="">edit</a>
                                            </li>
                                            <li>
                                                <i class="ph ph-prohibit"></i>
                                                <a href="/resume/delete/<%= user.id %>/<%= resume.id %>">cancel</a>
                                            </li>
                                        </ul>
                                    </div>
                                <% } else if(resume.option == "selected") { %>
                                    <div class="resume-status">
                                        <i class="ph-light ph-handshake"></i>
                                        <span>selected</span>
                                    </div>
                                    <div class="option-area">
                                        <div class="dots"><i class="ph-fill ph-dots-three-outline-vertical"></i></div>
                                        <ul class="submenu">
                                            <li>
                                                <i class="ph-light ph-check-circle"></i>
                                                <a href="/resume/delete/<%= user.id %>/<%= resume.id %>">done</a>
                                            </li>
                                        </ul>
                                    </div>
                                <% } else if(resume.option == "notSelected") { %>
                                    <div class="resume-status">
                                        <i class="ph ph-warning-circle"></i>
                                        <span>not selected</span>
                                    </div>
                                    <div class="option-area">
                                        <div class="dots"><i class="ph-fill ph-dots-three-outline-vertical"></i></div>
                                        <ul class="submenu">
                                            <li>
                                                <i class="ph-light ph-check-circle"></i>
                                                <a href="/resume/delete/<%= user.id %>/<%= resume.id %>">done</a>
                                            </li>
                                        </ul>
                                    </div>
                                <% } %> 
                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <div class="notfound">you haven't sent any resumes yet</div>
            <% } %>
        </div>
    </main>
    <footer>
    <div class="container">
        <p>&copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.</p>
    </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/resume/userSentResume/main.js"></script>
    <script src="/js/themes/main.js"></script>
    <script src="/js/notification/main.js"></script>
</body>
</html>