<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <link rel="stylesheet" href="/css/resume/resumeSentCompany/resumeContent/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColors/style.css">
    <link rel="stylesheet" href="/css/themeChange/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
        <a href="/" class="logo">
            <span><i class="ph-fill ph-briefcase"></i></span>
            <h2>Jobs</h2>
        </a>
        <div class="nav-area">
            <div class="change-color" id="moon">
                <i style="display: none;" class="ph ph-moon"></i>
                </div>
                <nav class="nav">
                <ul>
                    <% if(data) { %>
                        <li>
                            <i class="ph-fill ph-key-return"></i>
                            <a href="/company/resume/<%= data.company_id %>">back</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="menu"><i class="ph-bold ph-list"></i></div>
        </div>
    </header>
    <main>
        <div class="container">
            <% if(data) { %>
                <div class="resume-page">
                    <div class="postInfo">
                        <h1 class="username"><%= data.user.name %></h1>
                        <h2 class="vacancy"><%= data.post.vacancy %></h2>
                    </div>
                    <div class="about">
                        <div class="text">
                            <%= data.information %>
                        </div>
                        </div>
                    <ul class="contact-area">
                        <li>
                            <label for="fullName">Full name</label>
                            <div class="info">
                                <i class="ph ph-identification-card"></i>
                                <span class="salary"><%= data.fullName %></span>
                            </div>
                        </li>
                        <li>
                            <label for="dateOfBirth">Date of birth</label>
                            <div class="info">
                                <i class="ph ph-calendar"></i>
                                <span class="salary" id="dateOfBirth"><%= data.dateOfBirth %></span>
                            </div>
                        </li>
                        <li>
                            <label for="maritalStatus">Marital status</label>
                            <div class="info">
                                <i class="ph ph-users"></i>
                                <span class="salary"><%= data.maritalStatus %></span>
                            </div>
                        </li>
                        <li>
                            <label for="address">Address</label>
                            <div class="info">
                                <i class="ph ph-map-pin"></i>
                                <span class="salary"><%= data.address %></span>
                            </div>
                        </li>
                        <li>
                            <label for="contact">Contact</label>
                            <div class="info">
                                <i class="ph ph-phone"></i>
                                <span class="salary"><%= data.phone %></span>
                            </div>
                        </li>
                        <li>
                            <label for="academicEducation">Academic education</label>
                            <div class="info">
                                <i class="ph ph-student"></i>
                                <span class="salary"><%= data.academicEducation %></span>
                            </div>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </main>
    <footer>
    <div class="container">
        <p>
            &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
    </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/resume/resumeSentCompany/resumeContent/main.js"></script>
    <script src="/js/themeChange/main.js"></script>
</body>
</html>