<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/resume/create/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColors/style.css">
    <link rel="stylesheet" href="/css/themeChange/style.css">
    <link rel="stylesheet" href="/css/errorMessage/style.css">
    <link rel="stylesheet" href="/css/notification/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">
                <span><i class="ph-light ph-briefcase"></i></span>
                <h2>Jobs</h2>
              </a>
            <div class="nav-area">
                <div class="change-color" id="moon">
                    <i style="display: none;" class="ph ph-moon"></i>
                </div>
                <nav class="nav">
                    <ul>
                        <% if(user) { %>
                            <li>
                                <i class="ph-fill ph-user-circle-gear"></i>
                                <a href="/dashboard">dashboard</a>
                              </li>
                            <li>
                                <i class="ph-fill ph-key-return"></i>
                                <a href="/jobs">back</a>
                            </li>
                        <% } else { %>
                            <li>
                                <i class="ph-fill ph-key-return"></i>
                                <a href="/jobs">back</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div class="menu"><i class="ph-bold ph-list"></i></div>
          </div>
    </header>
    <main>
        <% if(success_message.length > 0) { %>
            <div class="notification"><span class="message"><%= success_message %></span></div>
        <% } %>
        <% if(error_message.length > 0) { %>
            <div class="notification"><span class="message"><%= error_message %></span></div>
        <% } %>
        <% if(user) { %>
            <% if(data) { %>
                <div class="container">
                    <div class="postInfo">
                        <h2>Send your resume for <span class="companyName"><%= data.company_name %></span> company <span class="vacancy"><%= data.vacancy %></span> vacancy</h2> 
                    </div>
                    <form action="/resume/create/<%= user.id %>/<%= data.id %>/<%= data.company.id %>" method="POST">
                        <div class="inputContainer">
                            <div class="firstBlock">
                                <div class="input">
                                    <label for="fullName">Full name</label>
                                    <input type="text" name="fullName" id="" required>
                                </div>
                                <div class="input">
                                    <label for="dateOfBirth">Date of birth</label>
                                    <input type="date" name="dateOfBirth" id="" required>
                                </div>
                                <div class="input">
                                    <label for="maritalStatus">Marital status</label>
                                    <input type="text" name="maritalStatus" id="" required>
                                </div>
                            </div>
                            <div class="secondBlock">
                                <div class="input">
                                    <label for="address">Address</label>
                                    <input type="text" name="address" id="" required>
                                </div>
                                <div class="input">
                                    <label for="phone">Phone</label>
                                    <input type="tel" name="phone" id="" placeholder="(xx) xxxx-xxxx" required>
                                </div>
                                <div class="input">
                                    <label for="academicEducation">Academic education</label>
                                    <input type="text" name="academicEducation" id="" required>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <label for="information">More information</label>
                            <textarea name="information" id="information" cols="30" rows="10" required></textarea>
                        </div>
                        <button>send</button>
                    </form>
                </div> 
            <% } %>
        <% } %>
    </main>
    <footer>
        <div class="container">
          <p>
            &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
          </p>
        </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/themeChange/main.js"></script>
    <script src="/js/notification/main.js"></script>
</body>
</html>