<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <link rel="stylesheet" href="/css/post/create/style.css">
  <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Jobs</a>
      <nav class="nav">
        <ul>
          <% if(user) { %>
              <% if(company) { %>
                 <li>
                    <i class="ph-fill ph-key-return"></i>
                    <a href="/company/<%= user.id %>/<%= company.id %>">company</a>
                 </li>
              <% } %>
          <% } else { %>
             <li>
                 <i class="ph-fill ph-key-return"></i>
                 <a href="/">home</a>
             </li>
          <% } %>
        </ul>
      </nav>

      <div class="menu">
        <i class="ph-bold ph-list"></i>
      </div>
    </div>
  </header>
  <% for(var i=0;i < error_message.length;i++) { %>
    <div class="error_message"><%= error_message[i] %></div>
  <% } %>
  <main>
    <div class="container">
        <% if(user) { %>
          <% if(company) { %>
            <form action="/post/create/<%= user.id %>/<%= data %>" method="POST">
              <div class="inputContainer">
                <div class="firstBlock">
                  <div class="input">
                    <label for="companyName">Company name</label>
                    <div class="subInput">
                      <select name="companyName" id="companyName" class="select" required>
                        <option selected disabled></option>
                        <% if(company.company) { %>
                          <option value="<%= company.company %>"><%= company.company %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="input">
                    <label for="vancancy">Vancancy</label>
                    <input type="text" name="vancancy" id="vancancy" autocomplete="off" required>
                  </div>
                  <div class="input">
                    <label for="location">Location</label>
                    <div class="subInput">
                      <select name="location" id="location" class="select" required>
                        <option selected disabled></option>
                        <% if(company.location) { %>
                          <option value="<%= company.location %>"><%= company.location %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="secondBlock">
                  <div class="input">
                    <label for="salary">Salary</label>
                    <input type="number" name="salary" id="salary" required>
                  </div>
                  <div class="input">
                    <label for="vacancies">Vacancies</label>
                    <input type="number" name="vacancies" id="vacancies" required>
                  </div>
                </div>      
              </div>
              <div class="input">
                <label for="information">Description</label>
                <textarea name="information" id="information" cols="30" rows="10" placeholder="more information here!"></textarea>
              </div>
              <button>create post</button>
            </form>
          <% } %>
        <% } %>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/post/create/main.js"></script>
  <script src="/js/menu/main.js"></script>
</body>
</html>